.news123{
    text-indent: 1em;
    display:inline-block ;
    font-size: 22px;
    color: #5e2d00;
}
a:nth-child(1){text-indent: 0;}/*设置第一个超链接首行缩紧为0jindu*/
a:link,a:visited{text-decoration: none;}
a:hover{
    text-decoration: underline;
    color: #f03;
}

dl{display: none;}
dd{
    line-height: 38px;
    font-size: 22px;
    font-family: "微软雅黑";
    color: #333;
}
dd:nth-child(odd){color: #BDA793;}
dd:nth-child(2) em{
    color: #f03;
    font-weight: bold;
    font-style: normal;
}
dd:nth-child(3) em{
    color: #5e2d00;
    font-weight: bold;
    font-style: normal;
}
:target{display: block;}
